/* Inputs-styles */

.inactive {
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    line-height: 2em;
    width: 180px;
    padding-left: 10px;
    box-sizing: border-box;
}
.inactive::placeholder {
    color: #d0d0d0;
}

.valid {
    position: relative;
    border: 1px solid #4ea657;
    border-radius: 3px;
    line-height: 2em;
    width: 180px;
    background: url(../icons/valid.png) no-repeat;
    background-size: 8%;
    background-position: 96% 50%;
    padding-left: 10px;
    box-sizing: border-box;
    color: #4ea657;
}
.valid::placeholder {
    color: #4ea657;
}

.invalid {
    border: 1px solid #e56c6a;
    border-radius: 3px;
    line-height: 2em;
    width: 180px;
    background: url(../icons/invalid.png) no-repeat;
    background-size: 8%;
    background-position: 96% 50%;
    padding-left: 10px;
    box-sizing: border-box;
    color: #e56c6a;
}
.invalid::placeholder {
    color: #e56c6a;
}

/* Checkbox-styles */


.checkbox {
    display: none;

}
.checkbox-fake {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 20px;
    height: 10px;
    border: 1px solid #d9576f;
    border-radius: 2px;
    transition: .2s;
}
.checkbox-fake:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 8px;
    background-color: #d9576f;
    border-radius: 2px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    transition: .2s;
}
.checkbox:checked + .checkbox-fake:before {
    opacity: 1;
    left: 30%;
    background-color: #66c161;
}
.checkbox:checked + .checkbox-fake {
    border: 1px solid #66c161;
}

/* Radio-button-styles */

.radio {
    display: none;
}
.radio-fake {
    position: relative;
    display: inline-block;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid #66c161;
    border-radius: 50%;
    transition: .2s;
}
.radio-fake:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #66c161;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s;
}
.radio:checked + .radio-fake:before {
    opacity: 1;
}

/* Button-styles */

.active-green {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #66c161;
    color: #fff;
}

.hover-green {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #337930;
    color: #fff;
}
.active-red {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #d9576f;
    color: #fff;
}
.hover-red {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #952054;
    color: #fff;
}
.disabled {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #8f8f8f;
    color: #fff;
}
.round-green {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #66c161;
    color: #fff;
}
.round-red {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #d9576f;
    color: #fff;
}

/* Textarea-styles */

.textarea {
    padding: 10px;
    font-size: 0.8em;
}
.textarea::placeholder {
    color: #9e9e9e;
}

